<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Hi, my name is Chaewoon Park, but you can call me Jason. <br>
  I'm an aspiring developer hoping to one day make something really cool. <br>
  There's nothing I love more than taking on new challenges and learning about new technologies! <br>
</p>